[[c2s.listen]]

	addr = "127.0.0.1:5222"
	certfile = "default.crt"
	keyfile = "default.key"
	dhparams = "default.dhparams"

[log]

	[log.console]
	level = "info"

	[log.syslog]
	level   = "info"
	network = "udp"
	# raddr = ""

	[[log.file]]
	level    = "error"
	filename = "/var/log/honey/honey.err.log"

	[[log.file]]
	level    = "info"
	filename = "/var/log/honey/honey.log"
